[Unit]
Description=MosGorTrans bot
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
WorkingDirectory=/opt/mosgortrans
ExecStart=scripts/start-bot.sh
ExecStop=scripts/shutdown-bot.sh
[Install]
WantedBy=multi-user.target